* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: $primary-color;
}

a {
    text-decoration: none;
    color: $primary-color;
    cursor: pointer;
}

.container {
    min-width: $container;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 821px;
  }

  .second-container{
    min-width: $second-container;
  }

